body,
html
    width 100%
    height 100%
    position relative
    @media web
        min-width 960px
.appendix
    center()
    padding-top 30px
.appendixHeader
    ff(medium,3)
    margin-bottom 10px
.appendixItem
    margin-bottom 10px
    a
        ff(normal,1.4)


