.member
    center(960px)
    padding 30px 10px 20px
    @media web
        padding 30px 0px 20px
        text-align right
.memberText
    display block
    width 100%
    color greys
    ff(light_f,2)
    text-align center
    margin-bottom 15px
    @media web
        display inline-block
        width auto
        ff(light_f,3,4.4)
        vertical-align top
        margin-bottom 0
.memberButton
    display block
    width 100%
    a
        text-align center
        width 100%
    @media web
        display inline-block
        width auto
        margin-left 40px
        a
            width auto