.button
    display inline-block
    background-color #F68E1E
    border 0px
    border-radius 3px
    // box-shadow 0px 5px 10px rgba(0, 0, 0, 0.5)
    ff(bold,2)
    text-transform uppercase
    color #fff
    outline 0
    padding 9px 10px
    margin-bottom 10px
    text-decoration none
    text-align center
    &:hover
        background-color lighten(#F68E1E,20%)
    @media web
        ff(bold,2.6)
        padding 9px 20px

.buttonBig
    @extend .button
    ff(normal,2.3)
    padding 5px 15pxx
    @media web
        ff(normal,3)
        padding 10px 30px
.buttonForm
    @extend .button
    display block
    width 100%
    ff(normal,1.8,2.4)
    padding 13px
.buttonBlue
    @extend .button
    ff(normal,2)
    background-color lighten(#16B250,0%)
    text-transform none

.buttonClose
    display block
    size(21,21)
    bg()
    border 0
    outline 0
    background-color transparent
