.trust
    display block
    sf()
    padding 30px 0
    center(960px)
.trustHeaderWrap
    display block
    text-align center
    @media web
        display block
        width 100%
        height 20px
        border-bottom 1px solid #ccc
        text-align center
        margin-bottom 20px
.trustHeader
    display inline-block
    background-color #FFF
    padding 0px 10px 0px
    ff(light_f,2.0)
    position relative
    color gray
    @media web
        padding 0px 10px 10px
        ff(light_f,2.4)
.trustItemsWrap
    col(1/1)
    text-align center
.trustItems
    display inline-block
.trustItem
    display inline-block
    text-align center
    padding 0 10px
    vertical-align middle
    img
        width 60%
    @media web
        padding 0 20px
        img
            width 70%