.banner
    display block
    bg(top)
    background-color #383838
    background-blend-mode overlay
    background-size cover
    background-image url('../img/bannerBG-mob.jpg')
    height 340px
    margin-top 46px
    sf()
    @media web
        background-image url('../img/bannerBG.jpg')
        background-size cover
        margin-top 75px
        height 540px
.bannerWrap
    center(480px)
    padding 60px 10px 0px
    @media web
        center(960px)
        padding 60px 0px
.bannerText
    display block
    text-align center
    margin-bottom 40px
    sf()
    h1
        color #fff
        ff(normal,2.2)
        margin-bottom 10px
    h2
        color #fff
        ff(normal,1.4)
        margin-bottom 25px
    button
        margin-bottom 15px
    p
        ff(normal,1.2)
        color #fff
    @media web
        h1
            color #fff
            ff(normal,5)
            margin-bottom 10px
        h2
            color #fff
            ff(normal,3)
            margin-bottom 25px
        button
            margin-bottom 15px
        p
            ff(normal,1.5)
            color #fff
.bannerPostJob
    display block
    sf()
    h1
        width 100%
        text-align center
        color #fff
        ff(normal,2.2)
.bannerPostJobForm
    display block
    sf()
.bannerPostJobFormAddress
    col(12/12,gutter:1%)
    margin-bottom 10px
    .awe
        col(1/2)
        position relative
        sf()
        ul
            color #818AA3
            ff(medium,1.4,1.9)
    .inputAddress
        col(1/2,gutter:1%)
        sf()

.bannerPostJobFormDate
    col(2/12,3/12,gutter:1%)
.bannerPostJobFormTime
    col(2/12,gutter:1%)
.bannerPostJobFormSubmit
    col(2/12,gutter:1%)
    button
        margin-top 7px
#datedrop
    position relative
