.singup
    display block
    width 100%
    //height 400px
    background #fff
    sf()

.singupItems
    center(960px)
    padding-top 20px
    @media web
        padding-top 40px
.singupHeaderWrap
    display block
    width 100%
    text-align center
    margin-bottom 20px
    @media web
        height 20px
        border-bottom 1px solid #ccc
        margin-bottom 30px
.singupHeader
    display inline-block
    background-color #FFF
    padding 0px 10px
    ff(light_f,2.0)
    padding-bottom 10px
    position relative
    color gray
    @media web
        padding 0px 10px 10px
        ff(light_f,2.4)
.singupItemModel
    display block
    width 100%
    sf()
    @media web
        center(960px)
.singupItemWrap
    col(1/2,cycle:2)
    text-align center
    margin-bottom 20px
    @media web
        col(1/4,uncycle:2)
        text-align center
        height 270px
        sf()
.singupItem
    display inline-block
    width 100%
    h1
        text-align center
        ff(light_f,1.6)
        margin-bottom 0px
    h3
        ff(medium,1.3)
        color greys
    p
        ff(medium,1.1)
        color greys
    @media web
        h1
            ff(light_f,2.0)
            margin-bottom 6px
        h3
            ff(medium,1.5)

        p
            ff(medium,1.2)
.singupItemImage
    display block
    margin 0 auto 10px
    text-align center
    position relative
    size(75,75)
    img
        object-fit cover
        size(75,75)
    &:hover
        img
            opacity .3
        span
            opacity 1
    img
        transition: opacity .25s ease-in-out
    span
        display block
        opacity 0
        position absolute
        top 10px
        bottom 0
        left 0
        right 0
        margin auto
        size(75,30)
        ff(bold,2,2)
        color greys
        text-shadow 1px 1px 3px rgba(0,0,0,.1);
        transition opacity .25s ease-in-out
     @media web
        size(150,150)
        img
            size(150,150)
        span
            top 0
            size(100,30)
            ff(bold,3,3)

.singupAction
    center(960px)

    padding 0px 10px
    margin-bottom 20px
    vertical-align middle
    sf()
    @media web
        padding 0
        margin-bottom 60px
.singupActionText
    display inline-block
    color greys
    ff(light_f,2.0)
    text-align center
    @media web
        text-align left
        col(1/2)
        ff(light_f,3.0)


.singupActionButton
    display block
    margin-top 16px
    a
        text-align center
        width 100%
    @media web
        col(1/2)
