doctype
html(lang="ru")
  head
    title Ciggin' it
    meta(charset='utf-8')
    meta(content="telephone=no")
    meta(name="viewport", content="width=device-width")
    //- meta(name="viewport", content="width=1130px")
    link(href='./css/blocks.css', type="text/css", rel="stylesheet")
    link(href='./css/blocks.uri.css', type="text/css", rel="stylesheet")
    // link(href='./css/fonts.css', type="text/css", rel="stylesheet")
    // include _favicon.jade
    <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    //- <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    script.
        (function(){
            function addFont() {
                var style = document.createElement('style');
                style.rel = 'stylesheet';
                document.head.appendChild(style);
                style.textContent = localStorage.sourceSansPro;
            }

            try {
                if (localStorage.sourceSansPro) {
                    // The font is in localStorage, we can load it directly
                    addFont();
                } else {
                    // We have to first load the font file asynchronously
                    var request = new XMLHttpRequest();
                    request.open('GET', '/css/fonts.css', true);

                    request.onload = function() {
                        if (request.status >= 200 && request.status < 400) {
                            // We save the file in localStorage
                            localStorage.sourceSansPro = request.responseText;

                            // ... and load the font
                            addFont();
                        }
                    }

                    request.send();
                }
            } catch(ex) {
                // maybe load the font synchronously for woff-capable browsers
                // to avoid blinking on every request when localStorage is not available
            }
        }());
  body
    block content

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="./js/vendor.js")
    script(src="./js/index.js")
