extends _layout

block content
    include block/popup-signup-error
    include block/header
    include block/banner
    include block/trust
    include block/howtowork
    include block/singup
    include block/slider
    include block/member
    include block/footer
