extends _layout

block content
    .appendix
        .appendixHeader
            | Giggin.it Pages
        .appendixItem
            a(href="./index-main") Landing Page
        .appendixItem
            a(href="./index-login") Login screen
        .appendixItem
            a(href="./index-signup") Sign Up screen
        .appendixItem
            a(href="./index-signup2") Sign Up step two screen
        .appendixItem
            a(href="./index-signup-error") Sign Up screen with error
        .appendixItem
            a(href="./index-recovery") Password recovery
        .appendixItem
            a(href="./index-recovery2") Password recovery step two


