.howToWork
    display block
    position relative
    height 400px
    bg()
    transition all 0.3s

.howToWorkSlideOneBG
    background-color #383838
    background-blend-mode overlay
    // background-image url('../img/slideBG-1-mob.jpg')
    @media web
        background-color transparent
        // background-image url('../img/slideBG-1.jpg')
.howToWorkSlideTwoBG
    background-color #383838
    background-blend-mode overlay
    // background-image url('../img/slideBG-2-mob.jpg')
    @media web
        background-color transparent
        // background-image url('../img/slideBG-2.jpg')
.howToWorkSlideThreeBG
    background-color #383838
    background-blend-mode overlay
    // background-image url('../img/slideBG-3-mob.jpg')
    @media web
        background-color transparent
        // background-image url('../img/slideBG-3.jpg')
.howToWorkSlide
    display block
    height 400px
    sf()
.howToWorkWrapGradient
    display block
    width 100%
    height 400px

    //background-color #fff
    @media web
        background-image: linear-gradient(90deg, rgba(0,0,0,0.6) 60%, rgba(255,255,255,0.1) 80%);

.howToWorkWrap
    center(960px)
    @media web
        padding 0
.howToWorkText
    col(1/1)
    padding 30px 10px 0px
    @media web
        padding 30px 0px
        col(1/2)

.howToWorkHeader
    color #ECECEA
    ff(medium,2.8)
    margin-bottom 20px
    @media web
        ff(medium,3.4)
        margin-bottom 30px
.howToWorkTextItemOne,
.howToWorkTextItemTwo,
.howToWorkTextItemThree
    display block
    cursor pointer
    sf()
    margin-bottom 20px
    h1
        ff(medium,2,2.6)
        color darken(#fff,5%)
    p
        ff(normal,1.4,2.2)
        color #fff
    @media web
        margin-bottom 20px
        padding-right 60px
        h1
            ff(medium,2.6,3.2)
            margin-bottom 5px
        p
            ff(normal,1.4,2.2)
.howToWorkTextActive
    h1
        color #F68E1E
.howToWorkImage
    display none
    @media web
        display block
        col(1/2)
        padding-top 50px
        text-align center
        img
            text-align center
            height 300px