.sliderWrap
    display block
    background-color lighten(#4fbbd6,10%)
    overflow hidden
    padding-bottom 10px
    sf()
    @media web
        min-width 960px
.slider
    display block
    width 100%
    position relative
    padding 0 10px
    sf()
    @media web
        padding 0 60px

.sliderItem
    display table
    width 100%
    margin 0 auto
    padding 30px 0
    sf()
    @media web
        max-width 960px


.sliderItemPhoto
    display table-cell
    vertical-align top
    padding-right 20px
    overflow hidden
    margin-right 20px
    sf()
    img
        border-radius 50%
        size(75,75)
    @media web
        size(100,100)
        padding-right 40px
        // display block
        // float left
        img
            width 100px
            height 100px
.sliderItemText
    display table-cell
    width 100%
    sf()
    // @media web
    //     display block
    //     float left
.sliderItemText
    ff(light_f,1.8,2.4)
    color white
    float left
    @media web
        ff(light_f,2.8,3.4)
.sliderItemTextName
    ff(light_f,1.2)
    margin-top 5px
    color darken(#4fbbd6,50%)
    b
        ff(bold,1.2)
    @media web
        ff(light_f,1.6)
        margin-top 5px
        color darken(#4fbbd6,50%)
        b
            ff(bold,1.6)