.has-open-nav
    body
        .container,
        .mobileMenu,
        .header
            transform translateX(266px)
.container
    width 480px
    transition transform 0.2s linear
.mobileMenu
    display block
    overflow hideen
    background-color #6B6E6E
    position: fixed
    left: -266px
    top: 0
    bottom: 0
    width: 266px
    transition transform 0.2s linear
    ul
        list-style none
        padding 0
        margin 50px 0 0
        li
            text-align center
            margin-bottom 20px
            a
                ff(light_f,2.4,2.8)
                color white
                text-decoration none
                z-index 10000
                i
                    display inline-block
                    vertical-align middle
                    margin-right 7px