.banner
    .bannerWrap
        .bannerText
            h1 On-Demand Event Staffing
            h2 Book Models, Brand Ambassadors, & Street Teams Instantly
            a(href="https://giggin.it/companysignup.php").buttonBig Sign Up & Start Booking
            p Loved by Exhibitors, Startups, & Smart People
            p Available Nationwide
        .bannerPostJob
            h1 Post your job now
            .bannerPostJobForm
                .bannerPostJobFormAddress
                    input.input.inputAddress(placeholder="Address")
                    .awe
                        input.input.inputState(placeholder="City,State")#awesomplete
                .bannerPostJobFormDate
                    input.input.datepicker(type="text" placeholder="Date")
                .bannerPostJobFormTime
                    input.input.timepicker(type="text" placeholder="Time")
                .bannerPostJobFormSubmit
                    button.buttonForm Post Job
