.footer
    .footerWrap
        .footerLogo
            a(href="#") Giggin' it
            .footerLogoText
                | We automate hiring
        .footerMenuTops
            //- .footerMenuTopsHeader
                h4 Company
            .footerMenuItem
                a(href="https://giggin.it/modelsignup.php") Work with us
            .footerMenuItem
                a(href="https://giggin.it/companysignup.php") Post a job
            .footerMenuItem
                a(href="http://help.giggin.it") FAQ
        .footerMenuSocial
            .footerMenuItemSocials
                .footerMenuItemSocialFacebook
                    a(href="https://www.facebook.com/pages/Giggin-It/1450955125154728?ref=br_tf")
                .footerMenuItemSocialTwitter
                    a(href="https://twitter.com/gigginit1")
                .footerMenuItemSocialYoutube
                    a(href="https://www.youtube.com/channel/UCKlvctXIlj-24wFtCy0f85w")
                .footerMenuItemSocialInstagram
                    a(href="https://instagram.com/gigginit1/")
        .footerMenuSupport
            .footerMenuSupportAddress
                | 814 Mission St, </br> San Francisco, CA 94103
            .footerMenuSupportPhone
                | (800) 925-8843
            .footerMenuSupportEmail
                a(href="mailto:support@giggin.it") support@giggin.it



    .footerCopyright
        | © 2015 Giggin' it. All Rights Reserved.