.header
    .headerWrap
        .headerLeft
            //- .headerMobileMenu
            //-     a(href="").js-show-nav Menu
            .headerLogo
                a(href="#") Giggin' it
            .headerLogoText
                | We automate hiring
        .headerMenu
            .headerPhone
                | (800) 925-8843
            .headerMenuItem
                a(href="#HowItWorks").scrollTo How It Works
                a(href="https://giggin.it/login.php") Log In
                a(href="#FindWork").scrollTo Find Work

            .headerMenuItemMobile
                a(href="https://giggin.it/login.php") LogIn
