link(href='./css/preloadimage-mob.css', media="only screen and (min-width: 480px)", type="text/css", rel="stylesheet")
link(href='./css/preloadimage.css', media="only screen and (max-width: 481px)", type="text/css", rel="stylesheet")
#HowItWorks.howToWork.howToWorkSlideOneBG
    .howToWorkSlide
        .howToWorkWrapGradient
            .howToWorkWrap
                .howToWorkText
                    .howToWorkHeader
                        | How It Works
                    .howToWorkTextItemOne.howToWorkTextActive
                        h1 Post Your Job
                        p Enter your event details, choose your budget, and hit submit.
                    .howToWorkTextItemTwo
                        h1 Get 6 Pre-Screened Applicants
                        p View rates, reviews, photos, & experience. Select the best.
                    .howToWorkTextItemThree
                        h1 Book Online Like a Hotel
                        p Hold your money in escrow until the event is completed successfully. Get a full refund if anything happens.
                .howToWorkImage
                    img(src="./img/hiring_01.png", alt="")