.overlay.overlayOpen
    .popupSignup
        .popupSignupHeader Login
        .popupSignupForm
            .popupSignupFormItem
                label.label
                    | E-mail
                    input.input
            .popupSignupFormItem
                label.label
                    | Password
                    input.input
                    span
                        a(href="#") forgot password?
            .popupSignupFormItem.popupSignupFormItemTop
                label.labelCheckbox
                    input(type="checkbox")
                    | Remember Me
            .popupSignupFormButton
                button.buttonForm LOGIN
            .popupSignupSocial
                p or login with
                .popupSignupSocialIcons
                    .popupSignupSocialIcon
                        a(href="#")
                            .popupSignupSocialIconGoogle
                    .popupSignupSocialIcon
                        a(href="#")
                            .popupSignupSocialIconFacebook

