.overlay.overlayOpen
    .popupSignup
        .popupSignupHeader Sign Up
        .popupSignupForm
            .popupSignupFormItem
                label.label
                    | E-mail
                    input.input
            .popupSignupFormItem
                label.label
                    | Password
                    input.input
            .popupSignupFormButton
                button.buttonForm SIGN UP & START BOOKING
            .popupSignupSocial
                p or sign up with
                .popupSignupSocialIcons
                    .popupSignupSocialIcon
                        a(href="#")
                            .popupSignupSocialIconGoogle
                    .popupSignupSocialIcon
                        a(href="#")
                            .popupSignupSocialIconFacebook
            .popupSignupText
                a(href="#") If you have an account, login here
