.overlay.overlayOpen
    .popupSignup
        .popupSignupHeaderSmall Thanks for posting, please fill in the data for billing:

        .popupSignupForm
            .popupSignupFormItem
                label.labelSmall
                    | Your name
                    input.inputSmall(placeholder="First and Last name")
            .popupSignupFormItem
                label.labelSmall
                    | Company
                    input.inputSmall(placeholder="Company Name")
            .popupSignupFormItem
                label.labelSmall
                    | City and State
                    input.inputSmall(placeholder="Denver, Colorado")#awesomplete
            .popupSignupFormItem
                label.labelSmall
                    | Phone
                    input.inputSmall(placeholder="+1 (800) 0000000")

            .popupSignupFormButton
                button.buttonForm POST YOUR JOB

            .popupSignupText
                a(href="#") Skip step and login to site
