.overlay.overlayOpen
    .popupSignup
        .popupSignupHeader Recovery password
        .popupSignupForm
            .popupSignupFormItem
                label.label
                    | E-mail
                    input.input
            .popupSignupFormButton
                button.buttonForm SEND PASSWORD

