.overlay.overlayOpen
    .popupSignup
        .popupSignupError
            .popupSignupErrorButton
                button.buttonClose
            | Not valid e-mail 
            b example!mail.com,</br>
            | Please input valid e-mail.
        .popupSignupHeader Sign Up
        .popupSignupForm
            .popupSignupFormItem.popupSignupFormItemError
                label.label
                    | E-mail
                    input.input
            .popupSignupFormItem
                label.label
                    | Password
                    input.input
            .popupSignupFormButton
                button.buttonForm SIGN UP & START BOOKING
            .popupSignupSocial
                p or sign up with
                .popupSignupSocialIcons
                    .popupSignupSocialIcon
                        a(href="#")
                            .popupSignupSocialIconGoogle
                    .popupSignupSocialIcon
                        a(href="#")
                            .popupSignupSocialIconFacebook
            .popupSignupText
                a(href="#") If you have an account, login here
