.overlay.overlayOpen
    .popupSignup
        .popupSignupHeader
            | Recovery password
            p
                | Password send to&nbsp
                a(href="#") example@mail.com
        .popupSignupForm.popupNoBottom
            .popupSignupFormButton
                button.buttonForm BACK TO LOGIN

