.singup
    .singupItems
        .singupHeaderWrap
            .singupHeader
                | Available for booking
    .singupItemModel
        .singupItemWrap
            .singupItem
                .singupItemImage
                    img(src="img/model01.png", alt="")
                    span $40/h
                .singupItemText
                    h1 Olivia Leathers
                    h3 24 y.o.
                    p San Francisco
        .singupItemWrap
            .singupItem
                .singupItemImage
                    img(src="img/model02.png", alt="")
                    span $55/h
                .singupItemText
                    h1 Melanie James
                    h3 25 y.o.
                    p Las Vegas
        .singupItemWrap
            .singupItem
                .singupItemImage
                    img(src="img/model03.png", alt="")
                    span $45/h
                .singupItemText
                    h1 Shade Wallace
                    h3 26 y.o.
                    p Chicago
        .singupItemWrap
            .singupItem
                .singupItemImage
                    img(src="img/model04.png", alt="")
                    span $45/h
                .singupItemText
                    h1 Tia McDonald
                    h3 22 y.o.
                    p Orlando
    .singupAction
        .singupActionText
            | Choose from over 10,000 top Models & Brand Ambassadors
        .singupActionButton

            a(href="https://giggin.it/companysignup.php").button Sign Up & Start Booking
