.sliderWrap
    .slider
        .sliderItemWrap
            .sliderItem
                .sliderItemPhoto
                    img(src="img/avatar_review01.jpg", alt="")
                .sliderItemText
                    | Getting street teams on demand was something we desperately needed. Getting actors on demand was a bonus!

                    .sliderItemTextName
                        b Eric Strader
                        |  , Marketing Manager, UBER
        .sliderItemWrap
            .sliderItem
                .sliderItemPhoto
                    img(src="img/avatar_review02.jpg", alt="")
                .sliderItemText
                    | Our Kanye West performance would not have worked without </br>  your models and security staff
                    .sliderItemTextName
                        b Matthew Bedard
                        | , Director, Flaunt Magazine

        .sliderItemWrap
            .sliderItem
                .sliderItemPhoto
                    img(src="img/avatar_review03.jpg", alt="")

                 .sliderItemText
                    | We are continuously amazed at your trade show talent. Plus booking has never been easier.
                    .sliderItemTextName
                        b Shauna Park
                        |  , Marketing Manager, DataLocker, Inc