.trust
    .trustHeaderWrap
        .trustHeader
            | Top brands trust Giggin'it for all their events
    .trustItemsWrap
        .trustItems
            .trustItem
                img(src="img/logo-honda.gif", alt="")
            .trustItem
                img(src="img/logo-ibm.gif", alt="")
            .trustItem
                img(src="img/logo-procter-and-gamble.gif", alt="")
            .trustItem
                img(src="img/logo-samsung.gif", alt="")
            .trustItem
                img(src="img/logo-target.gif", alt="")