.header
    display block
    position fixed
    top 0
    width 100%
    height 75px
    background-color #fff
    border-bottom 1px solid #ccc
    box-shadow 1px 1px 5px rgba(0,0,0,0.3)
    z-index 500
    sf()
    @media web
        min-width 960px
.headerWrap
    center(960px)
    padding-top 10px
    padding-bottom 10px
.headerLeft
    col(1/2)
    @media web
        col(5/12)
.headerLogo
    display block
    text-align center
    a
        color oranges
        ff(normal,2.4)
        text-decoration none
    @media web
        display block
        float left
        a
            color oranges
            ff(normal,4.0)
            text-decoration none
.headerLogoText
    display block
    color grey
    ff(normal,1)
    text-align center
    @media web
        display block
        float left
        ff(normal,1.4)
        border-left 1px solid #ccc
        padding 5px 0px 5px 20px
        margin-top 15px
        margin-left 20px
.headerMenu
    col(1/2)
    text-align right
    @media web
        col(7/12)
.headerMenuItemMobile
    display inline-block
    padding-top 17px
    padding-right 20px
    vertical-align middle
    a
        display block
        ff(bold,1)
        text-transform uppercase
        color #b3b2b2
        text-decoration none
        margin-left 5px
        &:hover
            color oranges
    @media web
        display none
.headerMenuItem
    display none
    @media web
        display block
        float left
        margin-top 22px
        padding-left 50px
        text-align right
        a
            display inline-block
            ff(bold,1.3)
            text-transform uppercase
            color #b3b2b2
            text-decoration none
            margin-left 15px
            &:hover
                color oranges
.headerPhone
    display none
    @media web
        display block
        float right
        margin-top 13px
        text-align right
        ff(normal,2.4)
        color #b3b2b2
