.icheckbox
    display inline-block
    vertical-align middle
    cursor pointer
    width 20px
    height 20px
    border 2px solid #818AA3
    border-radius 0px
    background-color #fff
    margin-right 10px
    sf()
.icheckbox
    &.hover
        background #fff
    &.checked
        position relative
        &:before
            display block
            position absolute
            height 12px
            width 12px
            content ""
            top 2px
            left 2px
            background-color #818AA3
    &.disabled
        background none
        cursor default
    &.focus
        border-color darken(#d5d4cd, 20%)

.iradio
    display inline-block
    vertical-align middle
    width 20px
    height 20px
    border 1px solid #c2d2de
    border-radius 50%
    background-color #f9f9fb
    cursor pointer
    float left
    margin-right 10px
    sf()
.iradio
    &.hover
        border 1px solid quartz
    &.checked
        position relative
        &:before
            display block
            position absolute
            height 11px
            width 11px
            content ""
            top 3px
            left 3px
            bg()
        &.disabled
            background-position -216px 0
    &.disabled
        background-position -192px 0
        cursor default

