lesscss-percentage(n)
  (n * 100)%
blue = rgb(0, 137, 236, 1)
blue-hover = rgb(177, 220, 251, 1)
black = rgb(0, 0, 0, 1)
white = rgb(255, 255, 255, 1)
bg-white = white
bg-grey-light = rgb(242, 242, 242, 1)
border-grey = rgb(119, 119, 119, 1)
border-grey-light = rgb(221, 221, 221, 1)
border-select = darken(border-grey-light, 15%)
clear-red = rgb(238, 34, 0, 1)
picker-z-index = 10000
speed-animate-in = 0.15s
input-active-border = #767676
// blue
base-font-size = 16px
base-line-height = 1.2
picker-border-radius = 5px
picker-box-shadow = 0 12px 36px 16px rgba(0, 0, 0, 0.24)
picker-box-shadow-light = 0 6px 18px 1px rgba(0, 0, 0, 0.12)
breakpoint-tiny = 26.5em
breakpoint-small = 33.875em
breakpoint-medium = 40.125em
breakpoint-large = 46.75em
breakpoint-width-tiny = 24.5em
year-weekday-label = rgb(153, 153, 153, 1)
blue-tag = rgb(0, 89, 188, 1)
disabled-tag = rgb(170, 170, 170, 1)
disabled-things-bg = rgb(245, 245, 245, 1)
disabled-things-text = rgb(221, 221, 221, 1)
disabled-highlighted-things-bg = rgb(187, 187, 187, 1)
picker-min-width = 256px
picker-max-width = 666px
time-min-width = picker-min-width
time-max-width = 320px
classic-max-width = (picker-max-width - 200px)
classic-min-width = (picker-min-width - 80px)
classic-max-height = 25em
classic-box-shadow = 0 6px 18px 1px rgba(0, 0, 0, 0.12)
picker-item-highlighted()
  border-color transparent
// blue
.picker-item-highlighted
  picker-item-highlighted()
picker-item-hovered()
  cursor pointer
  color black
  background blue-hover
.picker-item-hovered
  picker-item-hovered()
picker-item-selected()
  background blue
  color white
.picker-item-selected
  picker-item-selected()
picker-item-disabled()
  background disabled-things-bg
  border-color disabled-things-bg
  color disabled-things-text
  cursor default
.picker-item-disabled
  picker-item-disabled()
opacity(decimal)
  percent = (decimal * 100)
  -ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{percent})"
  filter unquote("alpha(opacity=" + percent + ")")
  -moz-opacity decimal
  opacity decimal
