lesscss-percentage(n)
  (n * 100)%
/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
@import "_variables.styl"
/**
 * The picker box.
 */
.picker__box
  padding 0.1em 1em
/**
 * The header containing the month and year stuff.
 */
.picker__header
  text-align center
  position relative
  margin-top .75em
/**
 * The month and year labels.
 */
.picker__month, .picker__year
  font-weight 500
  display inline-block
  margin-left .25em
  margin-right .25em
.picker__year
  color year-weekday-label
  font-size .8em
  font-style italic
/**
 * The month and year selectors.
 */
.picker__select--month, .picker__select--year
  border 1px solid border-select
  height 2em
  padding .5em
  margin-left .25em
  margin-right .25em
  var1ea65bb2c62e154044788459 = "(min-width: " + breakpoint-width-tiny + ")"
  @media var1ea65bb2c62e154044788459
    margin-top -0.5em
.picker__select--month
  width 35%
.picker__select--year
  width 22.5%
.picker__select--month:focus, .picker__select--year:focus
  border-color blue
/**
 * The month navigation buttons.
 */
.picker__nav--prev, .picker__nav--next
  position absolute
  padding .5em 1.25em
  width 1em
  height 1em
  box-sizing content-box
  top -0.25em
  vare51329eee96a8c061f9c3c46 = "(min-width: " + breakpoint-width-tiny + ")"
  @media vare51329eee96a8c061f9c3c46
    top -0.33em
.picker__nav--prev
  left -1em
  padding-right 1.25em
  var402c52a48237792a8eb54629 = "(min-width: " + breakpoint-width-tiny + ")"
  @media var402c52a48237792a8eb54629
    padding-right 1.5em
.picker__nav--next
  right -1em
  padding-left 1.25em
  var02ac738bac29a8751b9d1426 = "(min-width: " + breakpoint-width-tiny + ")"
  @media var02ac738bac29a8751b9d1426
    padding-left 1.5em
.picker__nav--prev:before, .picker__nav--next:before
  content " "
  border-top .5em solid transparent
  border-bottom .5em solid transparent
  border-right 0.75em solid black
  width 0
  height 0
  display block
  margin 0 auto
.picker__nav--next:before
  border-right 0
  border-left 0.75em solid black
.picker__nav--prev:hover, .picker__nav--next:hover
  @extend .picker-item-hovered
.picker__nav--disabled, .picker__nav--disabled:hover, .picker__nav--disabled:before, .picker__nav--disabled:before:hover
  cursor default
  background none
  border-right-color disabled-things-bg
  border-left-color disabled-things-bg
/**
 * The calendar table of dates
 */
.picker__table
  text-align center
  border-collapse collapse
  border-spacing 0
  table-layout fixed
  font-size inherit
  width 100%
  margin-top .75em
  margin-bottom .5em
  vard4251a26cb3b48ab229373ba = "(min-height: " + breakpoint-small + ")"
  @media vard4251a26cb3b48ab229373ba
    margin-bottom .75em
.picker__table td
  margin 0
  padding 0
/**
 * The weekday labels
 */
.picker__weekday
  width 14.285714286%
  font-size .75em
  padding-bottom .25em
  color year-weekday-label
  font-weight 500
  /* Increase the spacing a tad */
  var71bbcf01021a59273df763f7 = "(min-height: " + breakpoint-small + ")"
  @media var71bbcf01021a59273df763f7
    padding-bottom .5em
/**
 * The days on the calendar
 */
.picker__day
  padding .3125em 0
  font-weight 200
  border 1px solid transparent
.picker__day--today
  position relative
.picker__day--today:before
  content " "
  position absolute
  top 2px
  right 2px
  width 0
  height 0
  border-top 0.5em solid blue-tag
  border-left .5em solid transparent
.picker__day--disabled:before
  border-top-color disabled-tag
.picker__day--outfocus
  color disabled-things-text
.picker__day--infocus:hover, .picker__day--outfocus:hover
  @extend .picker-item-hovered
.picker__day--highlighted
  @extend .picker-item-highlighted
.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted
  @extend .picker-item-hovered
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
  @extend .picker-item-selected
.picker__day--disabled, .picker__day--disabled:hover, .picker--focused .picker__day--disabled
  @extend .picker-item-disabled
.picker__day--highlighted.picker__day--disabled, .picker__day--highlighted.picker__day--disabled:hover
  background disabled-highlighted-things-bg
/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer
  text-align center
.picker__button--today, .picker__button--clear, .picker__button--close
  border 1px solid white
  background white
  font-size .8em
  padding .66em 0
  font-weight bold
  width 33%
  display inline-block
  vertical-align bottom
.picker__button--today:hover, .picker__button--clear:hover, .picker__button--close:hover
  @extend .picker-item-hovered
  border-bottom-color blue-hover
.picker__button--today:focus, .picker__button--clear:focus, .picker__button--close:focus
  background blue-hover
  border-color blue
  outline none
.picker__button--today:before, .picker__button--clear:before, .picker__button--close:before
  position relative
  display inline-block
  height 0
.picker__button--today:before, .picker__button--clear:before
  content " "
  margin-right .45em
.picker__button--today:before
  top -0.05em
  width 0
  border-top 0.66em solid blue-tag
  border-left .66em solid transparent
.picker__button--clear:before
  top -0.25em
  width .66em
  border-top 3px solid clear-red
.picker__button--close:before
  content "\D7"
  top -0.1em
  vertical-align top
  font-size 1.1em
  margin-right .35em
  color border-grey
.picker__button--today[disabled], .picker__button--today[disabled]:hover
  @extend .picker-item-disabled
.picker__button--today[disabled]:before
  border-top-color disabled-tag
