lesscss-percentage(n)
  (n * 100)%
/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
@import "_variables.styl"
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker
  width 100%
/**
 * The holder is the base of the picker.
 */
.picker__holder
  position absolute
  background bg-white
  border 1px solid lighten(border-grey, 20%)
  border-top-width 0
  border-bottom-width 0
  border-radius 0 0 picker-border-radius picker-border-radius
  box-sizing border-box
  min-width classic-min-width
  max-width classic-max-width
  max-height 0
  opacity(0)
  transform translateY(-1em) perspective(600px) rotateX(10deg)
  transition transform speed-animate-in ease-out, opacity speed-animate-in ease-out, max-height 0s speed-animate-in, border-width 0s speed-animate-in
/**
 * The frame and wrap work together to ensure that
 * clicks within the picker don’t reach the holder.
 */
.picker__frame
  padding 1px
.picker__wrap
  margin -1px
/**
 * When the picker opens...
 */
.picker--opened
  .picker__holder
    max-height classic-max-height
    opacity(1)
    border-top-width 1px
    border-bottom-width 1px
    transform translateY(0) perspective(600px) rotateX(0)
    transition transform speed-animate-in ease-out, opacity speed-animate-in ease-out, max-height 0s, border-width 0s
    box-shadow classic-box-shadow
