lesscss-percentage(n)
  (n * 100)%
/* ==========================================================================
   $CLASSIC-TIME-PICKER
   ========================================================================== */
@import "_variables.styl"
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker--time
  min-width time-min-width
  max-width time-max-width
/**
 * The holder is the base of the picker.
 */
.picker--time .picker__holder
  background bg-grey-light
  vard66ae78418b6878d36820dee = "(min-height: " + breakpoint-medium + ")"
  @media vard66ae78418b6878d36820dee
    font-size .875em
/**
 * The box contains the list of times.
 */
.picker--time .picker__box
  padding 0
  position relative
