.popupSignupError
	display block
	position absolute
	top 0
	left 0
	width 100%
	background-color #EE5555
	z-index 6000
	color #FFF
	ff(normal,1.4,1.9)
	padding 16px 65px
	box-shadow 0 2px 4px rgba(0 0 0 .5)
	sf()
	a
		text-decoration none
		color #F5F2B8
		&:hover
			color darken(#F5F2B8,40%)

.popupSignupErrorButton
	display block
	position absolute
	top 5px
	right 5px
