.input
    display block
    width 100%
    color #808080
    margin-top 7px
    padding 10px 20px
    outline 0
    ff(light_f,2.0,2.7)
    background-color #fff
    border-radius 3px
    border 1px solid #767676
    &::-webkit-input-placeholder
        color #D8D8D8
    &:-moz-placeholder
        color #D8D8D8
    &::-moz-placeholder
        color #D8D8D8
    &:-ms-input-placeholder
        color #D8D8D8
    &:focus
        outline 1px solid #818AA3
        border-color #818AA3
.inputSmall
    @extend .input
    padding 5px 10px
.inputBlue
    @extend .input
    background-color #1570A6
    &::-webkit-input-placeholder
        color #C6DDEA
    &:-moz-placeholder
        color #C6DDEA
    &::-moz-placeholder
        color #C6DDEA
    &:-ms-input-placeholder
        color #C6DDEA

.inputBig
    @extend .inputBlue
    ff(light_f,3.6,3.6)
    padding 13px 20px
    &::-webkit-input-placeholder
        padding-top 6px
