.overlay
    display none
    position fixed
    top 0
    left 0
    z-index 5000
    width 100%
    height 100%
    visibility hidden
    opacity 0
    padding-top 150px
    overflow hidden
    background-color rgba(0,0,0,.5)
    box-sizing border-box
.overlayOpen
    display block
    visibility visible
    opacity 1

.popupSignup
    display block
    position relative
    z-index 7000
    width 510px
    margin 0 auto
    background-color #FFF
    padding 30px 50px
    box-shadow 0 5px 8px rgba(0, 0, 0, .5 )
    sf()

.popupSignupHeader
    ff(normal,3,4.1)
    color #383838
    margin-bottom 10px
    p
        padding-top 10px
        ff(normal,1.8,2.4)
        a
            text-decoration none
            color #818AA3
            &:hover
                color darken(#818AA3,30%)
.popupSignupHeaderSmall
    @extend .popupSignupHeader
    ff(light_f,2.4,3.3)
.popupSignupForm
    display block
    margin-bottom 13px
    sf()
.popupSignupFormItemTop
    margin-top -20px

.popupSignupFormItem
    display block
    margin-bottom 15px
    sf()
    span
        display block
        text-align right
        width 100%
        margin-top 0px

        a
            text-decoration none
            display inline-block
            text-align center
            ff(light_f,1.2,1.7)
            color #818AA3
            &:hover
                color darken(#818AA3,30%)
.popupSignupFormItemError
    label
        color #EE5555
        input
            border-color #EE5555
.popupSignupFormButton
    display block
    padding-top 15px
    sf()
.popupSignupSocial
    display block
    text-align center
    ff(light_f,2.0,2.7)
    color #808080
    sf()
.popupSignupSocialIcons
    display inline-block
    margin-top 15px
    sf()
.popupSignupSocialIcon
    display inline-block
    margin-right 40px
    a
        size(100%,100%)
    &:last-child
        margin-right 0
.popupSignupSocialIconGoogle,
.popupSignupSocialIconFacebook
    display block
    size(61,61)
    bg()
.popupSignupText
    display block
    width 100%
    margin-top 15px
    ff(normal,1.2,1.7)
    text-align center
    color #818AA3
    a
        text-decoration none
        color #818AA3
        &:hover
            color darken(#818AA3,30%)
.popupNoBottom
    margin-bottom 0