.footerMenuItemSocialFacebook
    a
        background-image url('Facebook-grey.svg')
    &:hover
        a
            background-image url('Facebook.svg')
.footerMenuItemSocialTwitter
    a
        background-image url('Twitter-grey.svg')
    &:hover
        a
            background-image url('Twitter.svg')
.footerMenuItemSocialYoutube
    a
        background-image url('Youtube-grey.svg')
    &:hover
        a
            background-image url('Youtube.svg')
.footerMenuItemSocialInstagram
    a
        background-image url('Instagram-grey.svg')
    &:hover
        a
            background-image url('Instagram.svg')