.footer
    display block
    background-color greys
    padding-top 10px
    sf()
.footerWrap
    center(960px)
    padding 0 10px
    padding-top 15px
    @media web
        padding 15px 10px
.footerCopyright
    center(960px)
    text-align left
    ff(normal,1.2)
    color darken(#fff,40%)
    padding 10px 0px 10px 0px

.footerLogo
    col(1/1)
    margin-bottom 20px
    a
        display inline-block
        color #fff
        ff(normal,3.2,3.2)
        text-decoration none
    @media web
        margin-bottom 0px
        text-align center
        col(3/12)
        a
            text-align center
.footerLogoText
    display block
    width 100%
    ff(normal,1.2)
    margin-top 5px
    color #999
    padding-left 10px
.footerMenuTops
    col(1/1)
    margin-bottom 20px
    @media web
        col(2/12)
        margin-bottom 0px
.footerMenuTopsHeader
    ff(medium,1.6)
    color oranges
    margin-bottom 10px
.footerMenuItem
    display block
    margin-bottom 5px
    a
        color #999
        text-decoration none
        ff(normal,1.2)
        &:hover
            text-decoration underline

.footerMenuSocial
    col(1/1)
    margin-bottom 20px
    @media web
        col(3/12)

.footerMenuItemSocialHeader
    display block
    ff(medium,1.6)
    color oranges
    margin-bottom 10px
    sf()
.footerMenuItemSocials
    display inline-block
    sf()
.footerMenuItemSocial
    display inline-block
    margin-right 10px
    opacity .4
    a
        display block
        size(41,40)
        bg()
        background-size 100% 100%
    &:hover
        opacity 1
.footerMenuItemSocialFacebook,
.footerMenuItemSocialTwitter,
.footerMenuItemSocialYoutube,
.footerMenuItemSocialInstagram
    @extend .footerMenuItemSocial

.footerMenuSupport
    col(1/1)
    margin-bottom 20px
    @media web
        col(3/12,1/12)
    color #ccc
.footerMenuSupportHeader
    display block
    ff(medium,1.6)
    color oranges
    margin-bottom 10px
    sf()
.footerMenuSupportLink
    display block
    color #999
    a
        display block
        color #999
        margin-bottom 5px
        text-decoration none
        ff(normal,1.4)
        &:hover
            text-decoration underline
.footerMenuSupportAddress
    ff(medium,1.4)
    margin-bottom 10px
    color #999
.footerMenuSupportPhone
    ff(normal,2.0)
    margin-bottom 10px
    color #999
.footerMenuSupportEmail
    a
        ff(medium,1.4)
        // color darken(#4fbbd6,40%)
        color #999
        text-decoration none
        &:hover
            color darken(#4fbbd6,10%)